@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --cor1: #D9FBFF;
    --cor2: #B8FFF0;
    --cor3: #8AC5E6;
    --cor4: #5AA8C0;
    --cor5: #3D83A2;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Comfortaa", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, var(--cor5) , var(--cor3), var(--cor1));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
}

header h1 {
    color: var(--cor1);
    padding: 20px 30px;
    font-family: var(--fonte-padrao);
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: solid 2px var(--cor5);
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0px 20px;
    line-height: 1.8em;
}

.imagem-de-perfil {
    width: 200px;
    padding: 20px;
    margin: auto;
    display: block;
}

main h2 {
    color: #004e47;
    padding: 0px 0px 20px 0px;
    text-align: center;
}

main p {
    padding: 0px 0px 30px 0px;
    text-align: justify;
}

ul {
    list-style-position: inside;
    padding-bottom: 30px;
}

ul a{
    text-decoration: none;
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 0px 10px;
    border: solid 1px var(--cor5);
    border-radius: 2px;
}

ul a:hover {
    color: blue;
    text-decoration: underline;
}

footer p {
    padding: 10px;
    border-top: solid 1px var(--cor5);
    text-align: center;
    margin: auto;
    max-width: 300px;
}